*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background-image: url(../src/accets/dark_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.center{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.evenly{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.between{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.fs-50{
  font-size: 50px;
}
.fs-75{
  font-size: 75px;
}
.fs-100{
  font-size: 100px;
}